openapi: 3.1.0

info:
  title: Daitem Secure API (Atral "Topaze" platform)
  version: "2026-09-07"
  summary: Unofficial specification of the private API used by the Daitem Secure mobile app.
  description: |
    **Unofficial and non-contractual**: this API is private and may change without notice
    with any app update. Not affiliated with Daitem or the Atral group.

    See `api-daitem.md` in the same folder for the fuller reference this specification is
    derived from.

    ## Two behaviours that shape any client

    **One session per panel, across all accounts.** Most operations require a session
    opened with `connect`, and the panel accepts only one at a time regardless of which
    account opens it: the lock is per panel, not per account, so creating a secondary
    account does not work around it. A concurrent `connect` returns `409`. Clients should
    open a session immediately before a command and release it with `disconnect`.

    **Reading the state needs a session that already exists**, held by any device. With
    none, `GET /topaze/v5/systems/{systemId}/state` returns `500`. A client can therefore
    piggyback on a session opened by the mobile app, and only open its own when needed.

    ## Required headers

    | Header | Required | Value |
    | --- | --- | --- |
    | `Authorization` | Everywhere | `Bearer <access token>` |
    | `X-App-Name` | Everywhere | Must be `eNova`; it is a product routing key |
    | `X-App-Version` | `connect` only | Free-form |
    | `X-App-Platform` | Never | Free-form |
    | `User-Agent` | Never | Free-form |

    Without `X-App-Name` the Azure gateway answers `400` before the request reaches the
    API; with any other value the application answers `500`. It is modelled below as a
    security scheme combined with the bearer, since both are always required.

    ## Not covered

    Creating a schedule (`POST .../schedule`) is not documented here: its request shape is
    unknown. The triggered alarm state is likewise undocumented.
  contact:
    name: pydaitem
    url: https://github.com/tomahoax/pydaitem
  license:
    name: MIT
    identifier: MIT

servers:
  - url: https://appv3.tt-monitor.com
    description: Topaze business API

security:
  - bearerAuth: []
    appName: []

tags:
  - name: Account
    description: Signed-in user and accessible installations.
  - name: Session
    description: Opening, keeping alive and closing the panel session.
  - name: State
    description: Reading the system state.
  - name: Commands
    description: Arming and disarming. These drive a real alarm.
  - name: Inventory
    description: Devices, faults and firmware.
  - name: Schedules
    description: Recurring arm and disarm programs.
  - name: Notifications
    description: Push registration and per-user alert preferences.
  - name: Logbook
    description: Event history. Owner-only.
  - name: Capabilities
    description: Feature discovery, mostly empty on an intrusion-only installation.

paths:
  /topaze/v1/user:
    get:
      tags: [Account]
      summary: Signed-in user profile
      operationId: getUser
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "403":
          $ref: "#/components/responses/Forbidden"

  /topaze/v5/systems:
    get:
      tags: [Account]
      summary: List accessible installations
      description: |
        There is no "select" endpoint: selection is client-side. Pick an `id` and reuse it
        as `systemId` in every later call.
      operationId: listSystems
      responses:
        "200":
          description: Installations linked to the account
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/System"

  /topaze/configuration/getConfiguration:
    post:
      tags: [Account]
      summary: Legacy system configuration
      description: Returns the panel and transmitter hardware identifiers.
      operationId: getConfiguration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role, systemId]
              properties:
                role:
                  type: integer
                  examples: [1]
                systemId:
                  type: integer
      responses:
        "200":
          description: System configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemConfiguration"

  /topaze/installation/isConnected:
    post:
      tags: [Session]
      summary: Check that the installation is reachable
      operationId: isConnected
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [transmitterId]
              properties:
                transmitterId:
                  type: string
      responses:
        "200":
          description: Reachability
          content:
            application/json:
              schema:
                type: object
                properties:
                  isConnected:
                    type: boolean

  /topaze/v5/systems/{systemId}/connect:
    parameters:
      - $ref: "#/components/parameters/SystemId"
      - $ref: "#/components/parameters/AppVersion"
    post:
      tags: [Session]
      summary: Open the panel session
      description: |
        Requires the alarm code **of the account being used**, which is not necessarily the
        owner's master code: a restricted user has their own.

        This is the only operation that also requires the `X-App-Version` header.
      operationId: connect
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [masterCode]
              properties:
                masterCode:
                  type: string
                  description: Alarm code of the account in use.
                  writeOnly: true
      responses:
        "200":
          description: Session opened
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectResult"
        "409":
          $ref: "#/components/responses/SessionBusy"

  /topaze/v5/systems/{systemId}/disconnect:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    post:
      tags: [Session]
      summary: Close the panel session
      description: The body is required; without it the API answers `400 bad request body`.
      operationId: disconnect
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [force]
              properties:
                force:
                  type: boolean
                  default: false
      responses:
        "200":
          description: Session closed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    examples: ["OK"]

  /topaze/authenticate/keepAlive:
    post:
      tags: [Session]
      summary: Keep the panel session alive
      description: |
        The only place the `ttmSessionId` returned by `connect` is reused. Optional in
        practice: polling the state alone holds the session for at least 20 minutes without
        any keepAlive. The mobile app sends one roughly every 8 minutes.
      operationId: keepAlive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ttmSessionId]
              properties:
                ttmSessionId:
                  type: string
      responses:
        "200":
          description: Session extended
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: ["string", "null"]

  /topaze/v5/systems/{systemId}/state:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    get:
      tags: [State]
      summary: Read the system state
      description: |
        Requires an existing panel session, held by any device. Two distinct `500`
        responses mean "no usable session", both remedied by `connect`:
        `status.nottmsessionid` (none at all) and `transmitter.error.invalidsessionid`
        (one exists but its id is stale).
      operationId: getState
      responses:
        "200":
          description: Current state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStatus"
        "500":
          $ref: "#/components/responses/NoSession"

  /topaze/v1/action/systems/{systemId}/sendSystemCommand:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    post:
      tags: [Commands]
      summary: Arm or disarm every group
      description: |
        **Drives a real alarm.** Arming returns `tempo` first, then settles on `on` once
        the exit delay elapses. Disarming returns `off` immediately.
      operationId: sendSystemCommand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [active]
              properties:
                active:
                  type: boolean
                  description: "`true` arms, `false` disarms."
      responses:
        "200":
          description: Command accepted, with the resulting state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStatus"
        "409":
          $ref: "#/components/responses/SessionBusy"

  /topaze/v1/action/systems/{systemId}/sendGroupCommand:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    post:
      tags: [Commands]
      summary: Arm or disarm specific groups
      description: |
        **Drives a real alarm.** The finest-grained primitive: several groups can be driven
        in one call. Arming returns `tempogroup` then `group`; disarming returns `off` with
        no delay.
      operationId: sendGroupCommand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [groups]
              properties:
                groups:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [id, active]
                    properties:
                      id:
                        type: integer
                      active:
                        type: boolean
      responses:
        "200":
          description: Command accepted, with the resulting state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStatus"
        "409":
          $ref: "#/components/responses/SessionBusy"

  /topaze/v1/action/systems/{systemId}/startPartialArmingWidgetCommand/{presetIndex}:
    parameters:
      - $ref: "#/components/parameters/SystemId"
      - name: presetIndex
        in: path
        required: true
        description: |
          Index of the partial arming preset, matching the `widgetItems[].id` returned by
          the widgets endpoint. `0` is the "presence" preset.
        schema:
          type: integer
          minimum: 0
    post:
      tags: [Commands]
      summary: Trigger a partial arming preset
      description: "**Drives a real alarm.** Takes no body. Returns `systemState: presence`."
      operationId: startPartialArming
      responses:
        "200":
          description: Command accepted, with the resulting state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemStatus"
        "409":
          $ref: "#/components/responses/SessionBusy"

  /topaze/v2/systems/{systemId}/configuration:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    get:
      tags: [Inventory]
      summary: Device inventory
      description: |
        Identity, group, inhibition and **faults** for every device.

        The API exposes **no live open/closed detector state**, and `type` is `DEFAULT` for
        every detector, so door, window and motion sensors cannot be told apart other than
        by the user-assigned name.
      operationId: getInventory
      responses:
        "200":
          description: Inventory
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Inventory"

  /topaze/v5/systems/{systemId}/users:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    get:
      tags: [Account]
      summary: List system users
      description: Contains personal data (postal address, third-party email addresses).
      operationId: listSystemUsers
      responses:
        "200":
          description: Owner and restricted users
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemUsers"

  /topaze/v5/systems/{systemId}/schedule:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    get:
      tags: [Schedules]
      summary: List scheduled arm and disarm programs
      operationId: listSchedule
      responses:
        "200":
          description: Programs and the master switch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schedule"

  /topaze/v5/systems/{systemId}/schedule/{programId}:
    parameters:
      - $ref: "#/components/parameters/SystemId"
      - name: programId
        in: path
        required: true
        schema:
          type: integer
    put:
      tags: [Schedules]
      summary: Update a program
      operationId: updateScheduleProgram
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleProgram"
      responses:
        "200":
          description: Updated program
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleProgram"
    delete:
      tags: [Schedules]
      summary: Delete a program
      operationId: deleteScheduleProgram
      responses:
        "204":
          description: Program deleted

  /topaze/v5/systems/{systemId}/schedule/activate:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    put:
      tags: [Schedules]
      summary: Enable or disable the whole schedule
      operationId: activateSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [activate]
              properties:
                activate:
                  type: boolean
      responses:
        "204":
          description: Master switch updated

  /topaze/v5/systems/{systemId}/notifications:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    get:
      tags: [Notifications]
      summary: Read alert preferences for every user
      description: Contains personal data.
      operationId: listNotificationPreferences
      responses:
        "200":
          description: Per-user preferences
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NotificationPreference"
    post:
      tags: [Notifications]
      summary: Register a device for push
      operationId: registerPushDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lang, deviceId, userAgent]
              properties:
                lang:
                  type: string
                  examples: ["fr"]
                deviceId:
                  type: string
                  description: Push token (APNs on iOS).
                userAgent:
                  type: string
                  examples: ["IPHONE"]
      responses:
        "204":
          description: Device registered

  /topaze/v5/systems/{systemId}/notifications/registered:
    parameters:
      - $ref: "#/components/parameters/SystemId"
      - name: pnsHandle
        in: query
        required: true
        description: Push token to check.
        schema:
          type: string
    get:
      tags: [Notifications]
      summary: Check whether a device is registered for push
      operationId: isPushDeviceRegistered
      responses:
        "200":
          description: Registration status
          content:
            application/json:
              schema:
                type: object
                properties:
                  isRegistered:
                    type: boolean

  /topaze/v5/systems/{systemId}/notifications/{userId}:
    parameters:
      - $ref: "#/components/parameters/SystemId"
      - name: userId
        in: path
        required: true
        schema:
          type: integer
    put:
      tags: [Notifications]
      summary: Update a user's alert preferences
      operationId: updateNotificationPreference
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationPreferenceUpdate"
      responses:
        "204":
          description: Preferences updated

  /topaze/v5/systems/{systemId}/logbook:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    post:
      tags: [Logbook]
      summary: Request the event history
      description: |
        Asynchronous job. **The job id is returned in the `Location` response header**, not
        in the body, as `/v5/systems/{systemId}/logbook/{jobId}` without the `/topaze`
        prefix. Poll the job until `request_status_done`.

        **Owner-only**: a restricted account receives `403`.
      operationId: requestLogbook
      responses:
        "202":
          description: Job accepted
          headers:
            Location:
              description: Job path, without the `/topaze` prefix.
              schema:
                type: string
                examples: ["/v5/systems/410886/logbook/Dc8jxZ"]
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples: ["ACCEPTED"]
        "403":
          $ref: "#/components/responses/Forbidden"

  /topaze/v5/systems/{systemId}/logbook/{jobId}:
    parameters:
      - $ref: "#/components/parameters/SystemId"
      - name: jobId
        in: path
        required: true
        description: Job id taken from the `Location` header of the creating request.
        schema:
          type: string
    get:
      tags: [Logbook]
      summary: Poll the history job
      operationId: getLogbookJob
      responses:
        "200":
          description: Job still running, or its result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogbookJob"

  /topaze/v1/systems/{systemId}/cameras:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    get:
      tags: [Capabilities]
      summary: List cameras
      operationId: listCameras
      responses:
        "200":
          description: Cameras
          content:
            application/json:
              schema:
                type: object
                properties:
                  cameras:
                    type: array
                    items:
                      type: object

  /topaze/v6/systems/{systemId}/videos:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    get:
      tags: [Capabilities]
      summary: List videos
      operationId: listVideos
      responses:
        "200":
          description: Videos
          content:
            application/json:
              schema:
                type: object
                properties:
                  videos:
                    type: array
                    items:
                      type: object

  /topaze/v6/systems/{systemId}/scenarios:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    get:
      tags: [Capabilities]
      summary: List scenarios
      operationId: listScenarios
      responses:
        "200":
          description: Scenarios
          content:
            application/json:
              schema:
                type: object
                properties:
                  scenarios:
                    type: array
                    items:
                      type: object

  /topaze/v5/systems/{systemId}/scenarios/configuration:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    get:
      tags: [Capabilities]
      summary: Scenario triggers and delay bounds
      operationId: getScenarioConfiguration
      responses:
        "200":
          description: Available triggers
          content:
            application/json:
              schema:
                type: object
                properties:
                  triggers:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          examples: ["AUTO_INTRUSION"]
                        maxNumber:
                          type: integer
                        type:
                          type: string
                          enum: [auto, manual]
                  delay:
                    type: object
                    properties:
                      minSeconds:
                        type: integer
                      maxSeconds:
                        type: integer
                      intervalSeconds:
                        type: integer

  /topaze/v6/systems/{systemId}/scenarios/actions:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    get:
      tags: [Capabilities]
      summary: Canonical alarm command vocabulary
      description: |
        Confirms two partial presets alongside the presence mode. `PARTIAL_START_1` and
        `PARTIAL_START_2` correspond to `startPartialArmingWidgetCommand/0` and `/1`.
      operationId: getScenarioActions
      responses:
        "200":
          description: Available actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  actions:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          examples: ["ALARM"]
                        commands:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                enum:
                                  - FULL_STOP
                                  - FULL_START
                                  - PRESENCE_START
                                  - PARTIAL_START_1
                                  - PARTIAL_START_2
                              isAlertLauncher:
                                type: boolean

  /topaze/v5/systems/{systemId}/automatisms:
    parameters:
      - $ref: "#/components/parameters/SystemId"
    get:
      tags: [Capabilities]
      summary: List automations
      operationId: listAutomatisms
      responses:
        "200":
          description: Automations
          content:
            application/json:
              schema:
                type: object
                properties:
                  automatisms:
                    type: array
                    items:
                      type: object

  /topaze/v1/widgets/systems/{systemId}/users/{userId}:
    parameters:
      - $ref: "#/components/parameters/SystemId"
      - name: userId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags: [Capabilities]
      summary: Partial arming widget configuration
      description: Maps each widget item to its groups; the item `id` is the preset index.
      operationId: getWidgets
      responses:
        "200":
          description: Widgets
          content:
            application/json:
              schema:
                type: object
                properties:
                  widgets:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                        isVisible:
                          type: boolean
                        widgetType:
                          type: string
                        widgetItems:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Index for `startPartialArmingWidgetCommand`.
                              name:
                                type: string
                              isVisible:
                                type: boolean
                              groups:
                                type: array
                                items:
                                  type: integer

components:
  securitySchemes:
    bearerAuth:
      type: oauth2
      description: |
        Keycloak realm `daitem` at `https://auth.atraltech.com`.

        The **`password` grant (ROPC) is refused** by the realm, so a headless client must
        automate the authorization code flow with PKCE: request the login page, POST
        `username`, `password` and `credentialId` to the form action, read the `code` from
        the `Location` header of the `302`, then exchange it at the token endpoint. The flow
        runs entirely server-side, with no browser involved.

        Access tokens live 1800 seconds. Refresh with `grant_type=refresh_token`.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.atraltech.com/realms/daitem/protocol/openid-connect/auth
          tokenUrl: https://auth.atraltech.com/realms/daitem/protocol/openid-connect/token
          refreshUrl: https://auth.atraltech.com/realms/daitem/protocol/openid-connect/token
          scopes:
            openid: OpenID Connect identity

    appName:
      type: apiKey
      in: header
      name: X-App-Name
      description: |
        Product routing key, required on every call, and the value must be `eNova`.
        Omitting it returns `400` from the Azure gateway before the request reaches the
        API; any other value returns `500`. It identifies the product line, not the client.

  parameters:
    SystemId:
      name: systemId
      in: path
      required: true
      description: Installation identifier, from `GET /topaze/v5/systems`.
      schema:
        type: integer

    AppVersion:
      name: X-App-Version
      in: header
      required: true
      description: |
        Required by `connect` only; the value is free-form. `pydaitem` sends its own
        library version rather than the mobile app version.
      schema:
        type: string

  responses:
    Forbidden:
      description: |
        The account lacks rights for this resource. Known case: the logbook is owner-only.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    SessionBusy:
      description: |
        Another device already holds the panel session. `details` names the holder. The
        panel allows a single session across all accounts, so this is expected whenever the
        mobile app is open; retry later.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            ownerHoldsSession:
              value:
                message: transmitter.connection.sessionalreadyopen
                details: "owner "

    NoSession:
      description: |
        No usable panel session. Both variants are remedied by calling `connect`.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            noSession:
              summary: No session at all
              value:
                message: status.nottmsessionid
                details: Failed to get last TTM session
            staleSession:
              summary: A session exists but its id is stale
              value:
                message: transmitter.error.invalidsessionid
                details: "Invalid session id: <hex>"

  schemas:
    Error:
      type: object
      properties:
        message:
          type: ["string", "null"]
          description: Business error key, when the API provides one.
        details:
          type: ["string", "null"]

    SystemState:
      type: string
      description: |
        Overall system state. `tempo` and `tempogroup` are transient: an exit delay is
        running and the state settles on its own. A triggered-alarm value exists but is
        unknown.
      enum:
        - "off"
        - tempo
        - "on"
        - presence
        - tempogroup
        - group

    Group:
      type: object
      properties:
        id:
          type: integer
        name:
          type: ["string", "null"]
        active:
          type: boolean

    SystemStatus:
      type: object
      description: Returned by `/state` and by every command.
      properties:
        message:
          type: ["string", "null"]
        systemState:
          $ref: "#/components/schemas/SystemState"
        groups:
          type: array
          items:
            $ref: "#/components/schemas/Group"
        defaults:
          type: string
          description: |
            Six-digit string of unknown meaning. Seen as `000000` when disarmed and
            `010000` when armed; probably a state or group mask, not to be relied upon.
          examples: ["010000"]
        commandStatus:
          type: string
          examples: ["CMD_OK"]
        openedIssueNumbers:
          type: array
          items:
            type: integer

    ConnectResult:
      allOf:
        - $ref: "#/components/schemas/SystemStatus"
        - type: object
          properties:
            ttmSessionId:
              type: string
              description: Panel session id, reused only by `keepAlive`.
            groupList:
              type: array
              items:
                $ref: "#/components/schemas/Group"
            status:
              type: string
              examples: ["OK"]
            connectedUserType:
              type: string
              enum: [OWNER, RESTRICTED]
            codeIndex:
              type: ["integer", "null"]
            gprsConnection:
              type: ["string", "null"]
            versions:
              type: object
              properties:
                box:
                  type: ["string", "null"]
                boxRadio:
                  type: ["string", "null"]
                plugKnx:
                  type: ["string", "null"]
                rawVersions:
                  type: ["string", "null"]
            userRightsConfiguration:
              type: object
              additionalProperties: true

    System:
      type: object
      properties:
        id:
          type: integer
        vendor:
          type: string
          examples: ["edaitem"]
        name:
          type: string
        role:
          type: integer
          description: "`1` owner, `0` restricted user."
          enum: [0, 1]

    SystemConfiguration:
      type: object
      properties:
        transmitterId:
          type: string
        centralId:
          type: string
        installationComplete:
          type: boolean
        name:
          type: string
        role:
          type: integer
        rights:
          type: object
          additionalProperties: true
        id:
          type: integer
        standalone:
          type: boolean
        gprsPhone:
          type: ["string", "null"]

    Anomalies:
      type: object
      description: |
        Fault flags. Keys vary with the device type: panels report power supply and tamper
        faults, detectors report battery, tamper, radio, sensor, loop and masking faults.
      additionalProperties:
        type: boolean

    Device:
      type: object
      description: A detector or a control device. Carries no live open/closed state.
      properties:
        index:
          type: integer
        name:
          type: string
          description: User-assigned label, the only way to tell device kinds apart.
        serialNumber:
          type: string
        type:
          type: string
          description: |
            `DEFAULT` for every detector, `REMOTE` for a remote control. The API does not
            distinguish door, window and motion detectors.
        group:
          type: integer
        isInhibitable:
          type: boolean
        isInhibited:
          type: boolean
        isVideo:
          type: boolean
        anomalies:
          $ref: "#/components/schemas/Anomalies"

    Firmware:
      type: object
      properties:
        firmwareType:
          type: string
          enum: [SOFT, RADIO]
        currentVersion:
          type: object
          properties:
            releaseVersion:
              type: string
            releaseDate:
              type: integer
              description: Epoch milliseconds.
            fileName:
              type: string
            isCritical:
              type: boolean

    Inventory:
      type: object
      properties:
        isTlsEnabled:
          type: boolean
        isPushNotifWithTlsEnabled:
          type: boolean
        isAlertEnabled:
          type: boolean
        isScenarioEnabled:
          type: boolean
        central:
          type: object
          properties:
            name:
              type: string
            serialNumber:
              type: string
            type:
              type: string
              examples: ["INTRUSION"]
            hasIO:
              type: boolean
              description: Built-in input/output board.
            anomalies:
              $ref: "#/components/schemas/Anomalies"
            firmwareInfo:
              type: object
              properties:
                firmwares:
                  type: array
                  items:
                    $ref: "#/components/schemas/Firmware"
            plug:
              type: object
              description: Transmission module.
              properties:
                serialNumber:
                  type: string
                firmwareInfo:
                  type: object
                  properties:
                    firmwares:
                      type: array
                      items:
                        $ref: "#/components/schemas/Firmware"
        box:
          type: ["object", "null"]
        transmitters:
          type: array
          items:
            type: object
        sirens:
          type: array
          items:
            type: object
        transceivers:
          type: array
          items:
            type: object
        genericSensors:
          type: object
          properties:
            sensors:
              type: array
              items:
                $ref: "#/components/schemas/Device"
            ppmsTriggers:
              type: array
              items:
                type: object
            fireTriggers:
              type: array
              items:
                type: object
        commands:
          type: array
          items:
            $ref: "#/components/schemas/Device"

    User:
      type: object
      properties:
        userId:
          type: integer
        userUid:
          type: string
          format: uuid
        username:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string

    UserRights:
      type: object
      properties:
        alarms:
          type: object
          properties:
            active:
              type: boolean
            groupRights:
              type: array
              items:
                type: object
                properties:
                  index:
                    type: integer
                  active:
                    type: boolean
      additionalProperties: true

    SystemUsers:
      type: object
      properties:
        owner:
          type: object
          properties:
            userId:
              type: integer
            email:
              type: string
              format: email
            firstName:
              type: string
            lastName:
              type: string
            address:
              type: string
            zipCode:
              type: string
            city:
              type: string
            country:
              type: string
            phone:
              type: ["string", "null"]
            codeId:
              type: string
              description: "`MS01` for the master code."
        restrictedUsers:
          type: array
          items:
            type: object
            properties:
              userId:
                type: integer
              email:
                type: string
                format: email
              firstName:
                type: string
              lastName:
                type: string
              codeId:
                type: string
                description: "`RS<userId>` for a restricted user."
              rights:
                $ref: "#/components/schemas/UserRights"

    ScheduleProgram:
      type: object
      properties:
        id:
          type: integer
        day:
          type: string
          enum: [monday, tuesday, wednesday, thursday, friday, saturday, sunday]
        hour:
          type: integer
          minimum: 0
          maximum: 23
        minute:
          type: integer
          minimum: 0
          maximum: 59
        command:
          type: boolean
          description: "`true` arms, `false` disarms."
        groups:
          type: array
          items:
            type: integer

    Schedule:
      type: object
      properties:
        globalActivation:
          type: boolean
          description: Master switch for the whole schedule.
        programs:
          type: array
          items:
            $ref: "#/components/schemas/ScheduleProgram"
        maxProgramCount:
          type: integer
          examples: [50]

    NotificationPreferenceUpdate:
      type: object
      properties:
        userType:
          type: string
          enum: [OWNER, RESTRICTED]
        alertConfigurationMail:
          type: object
          description: No mail equivalent exists for arm/disarm events.
          properties:
            notificationsMailIntrusion:
              type: boolean
            notificationsMailAnomaly:
              type: boolean
        alertConfigurationPush:
          type: object
          properties:
            notificationsPushOnOff:
              type: boolean
              description: Arm and disarm events, push only.
            notificationsPushIntrusion:
              type: boolean
            notificationsPushAnomaly:
              type: boolean

    NotificationPreference:
      allOf:
        - type: object
          properties:
            userIdentity:
              $ref: "#/components/schemas/User"
        - $ref: "#/components/schemas/NotificationPreferenceUpdate"

    LogbookEventDetail:
      type: object
      properties:
        message:
          type: string
          description: i18n key, resolved app-side from Lokalise bundles.
          examples: ["logMessages.receivedCommand"]
        args:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [Key, String]
              value:
                type: string

    LogbookEvent:
      type: object
      properties:
        date:
          type: string
          examples: ["2026-09-07T15:22"]
        filterable:
          type: boolean
        title:
          type: string
          description: i18n key.
          examples: ["logEvent.36.label2"]
        details:
          type: array
          items:
            $ref: "#/components/schemas/LogbookEventDetail"

    LogbookJob:
      type: object
      properties:
        status:
          type: string
          enum: [request_status_pending, request_status_done]
        response:
          type: ["array", "null"]
          items:
            $ref: "#/components/schemas/LogbookEvent"
        error:
          type: ["string", "null"]
